*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background-color: #2b2d42;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center;
}
.navigation li{
    list-style-type: none;
}
.navigation a{
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.navigation a:hover{
    background-color: lightsteelblue;
}
.search-container{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding-right: 7rem;
}
.container{
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    align-items: center;
    background-color: white;
    flex-wrap: wrap;
}
.icon{
    padding: 1rem;
}
.searchbox {
    border: 0;
    flex: 1;
}
.searchButton{
    color:white;
    background: #0f4a8a;
    border:0;
    padding: 0.9rem;
    border-radius: 8px;

}
.searchbox:focus {
    border: none;
    outline: none;
  }
  img{
    border: 0;
  }
  .menu-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
  }
  .item{
    margin: 5px;
  }
  @media screen and (max-width:403px) {
    .search-container{
        width: 100%;
    }
  }
